<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi assumenda autem hic quas dolores provident, 
            voluptate libero at temporibus est eos labore voluptas corrupti dolorem ut consequatur harum deserunt quasi 
            id. Amet aperiam, repellendus voluptatibus assumenda iure corrupti sint accusamus!
        </p>
    </div>
</div>