{{#if error}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close bg-transparent border-0" data-dismiss="alert" aria-label="Close">
            <span class="button-alert" aria-hidden="true">X</span>
        </button>
    </div>
{{/if}}

{{#each errores}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="close bg-transparent border-0" data-dismiss="alert" aria-label="Close">
            <span class="button-alert" aria-hidden="true">X</span>
        </button>
    </div>
{{/each}}