{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
        {{success_msg}}
        <button type="button" class="close bg-transparent border-0" data-dismiss="alert" aria-label="Close">
            <span class="button-alert" aria-hidden="true">X</span>
        </button>
    </div>
{{/if}}